.section-header{
	width: 80vw;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
	/* background-color: #0096c7; */
	color: white;
	padding: 0 1rem;
	border-radius: 0.5rem;

}
.body-section{
	background-color: #caf0f8;
	min-height: 100vh;
}